# I am using a local virtual environment, should not be committed
.venv/

# I am using PyCharm, I don't want any user specific stuff in the repo
.idea/

# Python and Jupyter stuff
.ipynb_checkpoints/
